#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    margin: auto;
    border: 1px solid black;
    background-color: greenyellow;
}

button:hover {
    background-color: aqua;
}